---
layout: page
title: "Recipes"
permalink: /recipes/
# The recipes page layout
---

<!-- Get the recipes -->

{% assign pinned = site.recipes | where_exp: "item", "item.pin == true"  %}
{% assign default = site.recipes | where_exp: "item", "item.pin != true"  %}
{% assign recipes = "" | split: "" %}

<!-- Get pinned recipes -->
{% assign pinnedEnd = pinned.size | minus: 1 %}

{% if pinned.size > 0 %}
  {% for i in (0..pinnedEnd) %}
    {% assign recipes = recipes | push: pinned[i] %}
  {% endfor %}
{% endif %}

<!-- Get default recipes -->
{% assign defaultEnd = default.size | minus: 1 %}

{% if default.size > 0 %}
  {% for i in (0..defaultEnd) %}
    {% assign recipes = recipes | push: default[i] %}
  {% endfor %}
{% endif %}

<!-- Get Collection Metadata -->
{% include get-collection-data.html collection=recipes %}

<!-- tag filtering -->
{% include filter-container.html filters=tags %}

<!--List recipe previews-->
<div id="post-list">
{% for post in recipes %}
  {% include recipe-preview.html recipe=post %}
{% endfor %}
</div> <!-- #post-list -->