<!--
  A pair of embedded charts from TradingEconomics.com.
  Example link: src="https://d3fy651gv2fhd3.cloudfront.net/charts/embed.png?s=cpi+yoy&amp;v=202102192300V20200908&amp;d1=20200222&amp;type=type=column&amp;title=false&amp;url2=/canada/inflation-cpi&amp;h=300&amp;w=400"
 -->

<div class="row" style="margin-bottom:1em">
    <div class="col">
        <a href="https://tradingeconomics.com/indicators"><img class="img-responsive" src="https://d3fy651gv2fhd3.cloudfront.net/charts/embed.png?s={{ include.indicator }}&amp;v=202102192300V20200908&amp;d1={{ include.d1 }}&amp;title=false&amp;url2={{ include.url2 }}&amp;h=300&amp;w=400"></a>
    </div>
    <div class="col">
        <a href="https://tradingeconomics.com/indicators"><img class="img-responsive" src="https://d3fy651gv2fhd3.cloudfront.net/charts/embed.png?s={{ include.indicator }}&amp;v=202102192300V20200908&amp;d1={{ include.d2 }}&amp;title=false&amp;url2={{ include.url2 }}&amp;h=300&amp;w=400"></a>
    </div>
</div>