<!--
 A list of posts with pinned at the top and proper pagination
-->
{% assign inputPosts = include.posts %}

{% assign pinned = inputPosts | where_exp: "item", "item.pin == true"  %}
{% assign default = inputPosts | where_exp: "item", "item.pin != true"  %}
{% assign posts = "" | split: "" %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}


<!-- Get default posts -->

{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num  %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}

<!-- Create all the post previews -->

<div id="post-list">
<h2>Projects</h2>
<p class="mb-0">Detailed writeups of some projects I've worked on.</p>

{% for post in posts %}
  {% include post-preview.html post=post %}
{% endfor %}
</div> <!-- #post-list -->

<!-- Paginator -->

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}