<div>
    <title>Collapsible Tree</title>  
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <!-- Create the desired styles -->
    <style>
        .node { cursor: pointer ; }
        .node circle {stroke: #cccccc; stroke-width: 2px;}
        .node text{font: 12px sans-serif; fill:#cccccc}
        .nodeTextPadding{ stroke-linejoin: round; stroke-width: 3px; stroke: #1b1b1e;}
        .nodeHasChildren {fill: #555;}
        .nodeNoChildren {fill: #999;}
        .link{fill:none; stroke: #cccccc; stroke-width: 2px; stroke-dasharray: 5px;}
    </style>
        <!-- Create the svg -->
    
    <script>    
        d3.json("https://static.observableusercontent.com/files/e65374209781891f37dea1e7a6e1c5e020a3009b8aedf113b4c80942018887a1176ad4945cf14444603ff91d3da371b3b0d72419fa8d2ee0f6e815732475d5de?response-content-disposition=attachment%3Bfilename*%3DUTF-8%27%27flare-2.json", function(error, json) {
        if (error) return console.warn(error);
        data = json;

        console.log(data);

        //margin definition
        var margin = ({top: 10, right: 40, bottom: 10, left: 40})

        var width = 1000;
        dx = 15 //y spacing of nodes
        dy = width / 6 //x spacing of nodes
        
        //define the tree
        var tree = d3.tree().nodeSize([dx, dy]);
        var diagonal = d3.linkHorizontal().x(d => d.y).y(d => d.x)

        var root = d3.hierarchy(data);
        root.x0 = dy / 2;
        root.y0 = 0;
        root.descendants().forEach((d, i) => {
            d.id = i;
            d._children = d.children;
            if (d.depth && d.data.name.length !== 7) d.children = null;
        });

        //select the plot
        var svg = d3.select("#plot_area")
            .attr("viewBox", [-margin.left, -margin.top, width, dx])
            .attr("width", width)
            .style("font", "20px sans-serif")
            .style("user-select", "none");

        var gLink = svg.append("g")
            .attr("class", "link")

        var gNode = svg.append("g")
            .attr("class", "node");
       
        update(root);

        //update function definition
        function update(source) {
            var duration = d3.event && d3.event.altKey ? 2500 : 250;
            var nodes = root.descendants().reverse();
            var links = root.links();

            console.log(source);

            // Compute the new tree layout.
            tree(root);

            let left = root;
            let right = root;
            root.eachBefore(node => {
                if (node.x < left.x) left = node;
                if (node.x > right.x) right = node;
            });

            var height = right.x - left.x + margin.top + margin.bottom; //total height of the treeview

            var transition = svg.transition()
                .duration(duration)
                .attr("viewBox", [-margin.left, left.x - margin.top, width, height]) //stretch the vertical height to match the tree object
                .tween("resize", window.ResizeObserver ? null : () => () => svg.dispatch("toggle"));

            // Update the nodes…
            var node = gNode.selectAll("g")
                .data(nodes, d => d.id);

            // Enter any new nodes at the parent's previous position.
            var nodeEnter = node.enter().append("g")
                .attr("transform", d => `translate(${source.y0},${source.x0})`)
                .attr("fill-opacity", 0)
                .attr("stroke-opacity", 0)
                .on("click", onNodeClick)

            nodeEnter.append("circle")
                .attr("r", 2.5)
                .attr("class", d => d._children ? "nodeHasChildren" : "nodeNoChildren");

            nodeEnter.append("text")
                .attr("dy", "0.31em")
                .attr("x", d => d._children ? -6 : 6)
                .attr("text-anchor", d => d._children ? "end" : "start")
                .text(d => d.data.name)
                .clone(true).lower() //duplicate the text and make bigger + white so the connecting lines don't go directly up to the edge of the text
                .attr("class", "nodeTextPadding")
            
            //use the filter to add this to only the nodes with children
            nodeEnter.filter(d => d._children).append("text")
                .attr("dy", "0.31em")
                .attr("x", 12)
                .attr("text-anchor", "start")
                .text(d => d._children.length)
                .clone(true).lower() //duplicate the text and make bigger + white so the connecting lines don't go directly up to the edge of the text
                .attr("class", "nodeTextPadding")

            // Transition nodes to their new position.
            var nodeUpdate = node.merge(nodeEnter).transition(transition)
                .attr("transform", d => `translate(${d.y},${d.x})`)
                .attr("fill-opacity", 1)
                .attr("stroke-opacity", 1);

            // Transition exiting nodes to the parent's new position.
            var nodeExit = node.exit().transition(transition).remove()
                .attr("transform", d => `translate(${source.y},${source.x})`)
                .attr("fill-opacity", 0)
                .attr("stroke-opacity", 0);

            // Update the links…
            var link = gLink.selectAll("path")
                .data(links, d => d.target.id);

            // Enter any new links at the parent's previous position.
            var linkEnter = link.enter().append("path")
                .attr("d", d => {
                    var o = {x: source.x0, y: source.y0};
                    return diagonal({source: o, target: o});
                });

            // Transition links to their new position.
            link.merge(linkEnter).transition(transition)
                .attr("d", diagonal);

            // Transition exiting nodes to the parent's new position.
            link.exit().transition(transition).remove()
                .attr("d", d => {
                    var o = {x: source.x, y: source.y};
                    return diagonal({source: o, target: o});
                });

            // Stash the old positions for transition.
            root.eachBefore(d => {
                d.x0 = d.x;
                d.y0 = d.y;
            });
        }

    function onNodeClick(d){
        if(d.children){
            d._children = d.children;
            d.children = null;
        }
        else{
            d.children = d._children;
            d._children = null;
        }

        update(d);
    } 
    });
    </script>

    <svg id="plot_area"></svg>


</div>