{% assign spotwx_url = 'https://spotwx.com/products/grib_index.php?model=' %}

<tr>
    <td>{{ include.title }}</td>
    <td><a href="{{spotwx_url}}sref_pgrb132&lat={{include.lat}}&lon={{include.long}}&tz=America/Vancouver">SREF</a></td>
    <td><a href="{{spotwx_url}}hrrr_wrfprsf&lat={{include.lat}}&lon={{include.long}}&tz=America/Vancouver">HRRR</a></td>
    <td><a href="{{spotwx_url}}rap_awp130pgrbf&lat={{include.lat}}&lon={{include.long}}&tz=America/Vancouver">RAP</a></td>
    <td><a href="{{spotwx_url}}hrdps_continental&lat={{include.lat}}&lon={{include.long}}&tz=America/Vancouver">HRDPS</a></td>
    <td><a href="{{spotwx_url}}nam_awphys&lat={{include.lat}}&lon={{include.long}}&tz=America/Vancouver">NAM</a></td>
</tr>